<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dnu.team.advertise.pro.dao.mapper.OrderMapper" >

    <resultMap id="getOrderResultMap" type="com.dnu.team.advertise.pro.model.Order">

        <id property="id" column="ID"/>
        <result property="description" column="DESCRIPTION"/>
        <result property="accountNumber" column="ACCOUNT_NUMBER"/>
        <result property="status" column="ORDER_STATUS"/>
        <result property="total" column="PRICE"/>
        <result property="userId" column="USER_ID"/>
        <result property="placeId" column="PLACE_ID"/>

    </resultMap>

    <select id="getByPlaceId" resultMap="getOrderResultMap">
        select * from orders where orders.PLACE_ID = #{placeId};
    </select>

    <select id="getByUserId" resultMap="getOrderResultMap">
        select * from orders where orders.USER_ID = #{userId};
    </select>

    <select id="getById" resultMap="getOrderResultMap">
        select * from orders where orders.ID = #{id};
    </select>

    <select id="getAllByStatus" resultMap="getOrderResultMap">
        select * from orders where orders.ORDER_STATUS = #{status};
    </select>

    <insert id="insert" >
        insert into orders values (#{id}, #{description}, #{accountNumber}, #{status}, #{total}, #{userId}, #{placeId});
    </insert>

    <update id="updateStatus" parameterType="com.dnu.team.advertise.pro.model.Order" statementType="CALLABLE">
        update orders as o set o.ORDER_STATUS = #{status} where o.ID = #{id};
    </update>

    <delete id="delete" parameterType="com.dnu.team.advertise.pro.model.Order" statementType="CALLABLE">
        delete from orders where orders.ID = #{id};
    </delete>

</mapper>