<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dnu.team.advertise.pro.dao.mapper.PlaceMapper" >

    <resultMap id="getPlaceResultMap" type="com.dnu.team.advertise.pro.model.Place">
        <id property="id" column="ID"/>
        <result property="city" column="CITY"/>
        <result property="street" column="STREET"/>
        <result property="price" column="PRICE"/>
        <result property="serviceType" column="SERVICE_TYPE"/>
        <result property="servicePeriod" column="SERVICE_PERIOD"/>
    </resultMap>

    <select id="getAll" resultMap="getPlaceResultMap">
        select * from places;
    </select>

    <select id="getByCityStreetTypePeriod" resultMap="getPlaceResultMap">
        select * from places as p where p.CITY = #{city} AND p.STREET = #{street} AND p.SERVICE_TYPE = #{serviceType} AND p.SERVICE_PERIOD = #{servicePeriod};
    </select>

    <select id="getById" resultMap="getPlaceResultMap">
        select * from places as p where p.ID = #{id};
    </select>

    <select id="search" resultMap="getPlaceResultMap" parameterType="com.dnu.team.advertise.pro.model.Place">
        select * from places as p
        <where>
            <if test="city != null and city != ''">p.CITY = #{city}</if>
            <if test="street != null and street != ''">p.STREET = #{street}</if>
            <if test="price != null">ROUND(p.PRICE, 0) = #{price}</if>
            <if test="type != null and type != ''">p.SERVICE_TYPE = #{type}</if>
            <if test="period != null and period != ''">p.SERVICE_PERIOD = #{period}</if>
        </where>
    </select>

    <insert id="insert" parameterType="com.dnu.team.advertise.pro.model.Place" statementType="CALLABLE">
        insert into places values (#{id}, #{city}, #{street}, #{price}, #{serviceType}, #{servicePeriod});
    </insert>

    <update id="update" parameterType="com.dnu.team.advertise.pro.model.Place" statementType="CALLABLE">
        update places as p set p.CITY = #{city}, p.STREET = #{street}, p.PRICE = #{price}, p.SERVICE_TYPE = #{serviceType}, p.SERVICE_PERIOD = #{servicePeriod} where p.ID = #{id};
    </update>

    <delete id="delete" parameterType="com.dnu.team.advertise.pro.model.Place" statementType="CALLABLE">
        delete from places where places.ID = #{id};
    </delete>
</mapper>